[Unit]
Description=Cogtive EUROFARMA | Jaiminho | GREEN | Core .NET running on CentOS 7

[Service]
WorkingDirectory=/opt/cogtive/Eurofarma/green/core/Jaiminho
ExecStart=/usr/bin/dotnet /opt/cogtive/Eurofarma/green/core/Aplicacao/Cogtive.Core.Jaiminho.dll
Restart=always
RestartSec=2  # Restart service after 2 seconds if dotnet service crashes
SyslogIdentifier=dotnet-example
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

#KESTREL


#POSTGRESQL
Environment=POSTGRES_HOSTNAME=oi
Environment=POSTGRES_USERNAME=oi
Environment=POSTGRES_PASSWORD=oi
Environment=POSTGRES_DATABASE=oi
Environment=POSTGRES_PORT=5432

#RABBITMQ
Environment=RABBITMQ_VIRTUALHOST=oi
Environment=RABBITMQ_USERNAME=oi
Environment=RABBITMQ_PASSWORD=oi
Environment=RABBITMQ_HOSTNAME=localhost
Environment=RABBITMQ_POST=5672
Environment=RABBIT_QUEUE_EVENTOS=eventos
Environment=RABBIT_QUEUE_HEIMDALL=heimdall
Environment=RABBIT_QUEUE_VELMA=velma
Environment=RABBIT_QUEUE_EMAIL=email

[Install]
WantedBy=multi-user.target